
{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ asset('CSS/Utilisateurs.css') }}">
    <title>{% block title %}Informations Personnelles{% endblock %}</title>
</head>
<body>
{% include 'partials/_navCompte.html.twig' %}

        {# recupere les infos de l'utilisateur connecter#}
            <h1 class="TitreInfosPersos">Mes Informations Personnelles</h1> 
        <div class="CadreInfosPersos"> <br>
            <p> Nom : {{app.User.Nom}} </p> <br>  
            <p> Prenom : {{app.User.Prenom}} </p> <br>
            <p> Email : {{app.User.Email}} </p> <br>
            <p> Adresse : {{app.User.Adresse}} </p>  <br>
            <p> Code Postal : {{app.User.cp}} </p>  <br>
            <p> Ville : {{app.User.ville}} </p> <br>
            <p> Numero de Telephone : {{app.User.Telephone}} </p> <br>
   
            <button type="button" class='button'><a href={{ path('Compte_modifInfos', {id: app.User.id}) }}>Modifier vos informations<a></button>
                
        </div> {# Fin div infosPersos #}
            

</body>
</html>
{% endblock %}