{% extends 'base.html.twig' %}

{% block title %}Materiel Roulants{% endblock %}

{% block body %}
<html>
		<head>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="{{ asset('CSS/MaterielRoulants.css') }}"> {# CSS Perso #}
			{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> CSS Bootstrap #}
		</head>
		<body>
			{# Section principale #}
			<section class="section_principale">
                <h1>Le Materiel Roulants</h1>
				{% for categorie in MaterielRoulant %}
                <section class="imageHaut">
					<div class="locomotives">
						<a  href={{path('TypeProduit_Locomotives')}}><img src={{ asset('Images/MaterielRoulant/') ~ categorie.image2 }} alt="Locomotive" id="Locomotives"></a> {# href={{path('acceuil_index')}} => chemin pour redirection#}
						<p>Les Locomotives</p>
					</div>
					<div class="wagonfret">
						<a href={{path('TypeProduit_WagonFret')}}><img src={{ asset('Images/MaterielRoulant/') ~ categorie.image4 }} alt="WagonsFret" id="WagonsFret"></a> {# href={{path('acceuil_index')}} => chemin pour redirection#}
						<p>Les Wagons de Fret</p>
					</div>	
                </section>
                <section class="imageBas">
					<div class="automotrices">
						<a href={{path('TypeProduit_Automotrices')}}><img src={{ asset('Images/MaterielRoulant/') ~ categorie.image1 }} alt="Automotrices" id="automotrices"></a> {# href={{path('acceuil_index')}} => chemin pour redirection#}
						<p>Les Automotrices</p>
					</div>
					<div class="VoituresVoyageurs">
						<a href={{path('TypeProduit_VoituresVoyageurs')}}><img src={{ asset('Images/MaterielRoulant/') ~ categorie.image3 }} alt="VV" id"VoituresVoyageurs"></a> {# href={{path('acceuil_index')}} => chemin pour redirection#}
						<p>Les Voitures de Voyageurs</p>
					</div>
                </section>
			</section>
			{# fin de la Section principale #}

			{# Section du bas pour les produits populaires #}
			<section class="produits-populaires">
				
			</section>
			{# Fin de la Section du bas pour les produits populaires #}
                {% endfor %}
		</body>
	</html>
{% endblock %}