{% extends 'base.html.twig' %}

{% block body %}
    <h1>Envoyer un message à un utilisateur</h1>

    {{ form_start(form) }}
        {{ form_row(form.objet) }}
        {{ form_row(form.description) }}
        {{ form_row(form.destinataire) }}
        {{ form_row(form.pieceJointe) }}
        <button class="btn btn-primary">Envoyer</button>
        <a href="{{ path('CompteUtilisateur_BoiteReception') }}" class="btn btn-outline-secondary">Retour</a>
    {{ form_end(form) }}
{% endblock %}
