<ul class="navbar-nav text-center mx-auto">
    <li class="nav-item">
        <a class= "nav-link" href= {{ path('acceuil_index') }} >
                Acceuil 
                {# Logo #}
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown">Le materiel roulant</a> {# href="{{ path('app_materiel_roulant') }}" #}
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Locomotives</a></li> {# href="{{ path('app_locomotives') }}" #}
            <li><a class="dropdown-item" href="#">Les Wagons de Fret</a></li> {# href="{{ path('app_wagonfret') }}" #}
            <li><a class="dropdown-item" href="#">Les Automotrices</a></li> {# href="{{ path('app_automotrices') }}" #}
            <li><a class="dropdown-item" href="#">Les Voitures de Voyageurs</a></li> {# href="{{ path('app_VV') }}" #}
        </ul>
    </li>
<li>
        <a class="nav-link" href="">Les nouveautés</a>  {# href="{{ path('app_nouveautes')') }}" #}
</li>
<li>
        <a class="nav-link" href="">Tailles existantes</a> {# href="{{ path('app_tailles')') }}" #}
</li>
<li>
        <a class="nav-link" href="">Les Voies</a> {# href="{{ path('app_Voies')') }}" #}
</li>
</ul>
<div class="text-right">

    {% if app.user %}
        <span class="navbar-text mx-2">
            Bonjour {{ app.user.firstname }}
        </span>

        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a class="nav-link"
               href="#">Liste des Utilisateurs</a> {# href="{{ path('ListeUtilisateurs')') }}" #}
        </li>
        <li>
            <a class="nav-link"
               href="#">Liste des produits</a> {# href="{{ path('ListeProduits')') }}" #}
        </li>
        <li>
            <a class="nav-link"
               href="#">Liste des commandes</a> {# href="{{ path('ListeCommandes') }}" (a mettre en place) #}
        </li>
        {% else %}
        <li>
            <a class="nav-link"
               href="#">Mon compte</a> {# href="{{ path('app_MonCompte')') }}" #}
        </li>
        <li>
            <a class="nav-link"
               href="#">Mes commandes</a> {# href="{{ path('app_MesCommandes')') }}" (a mettre en place) #}
        </li>
        <li>
            <a class="nav-link"
               href="#">Mon Panier</a> {# href="{{ path('app_MonPanier')') }}" #}
        </li>
        {% endif %}

        <a class="nav-item btn btn-outline-info" 
           href="">Se déconnecter</a> {# href="{{ path('app_logout') }}" #}

    {% else %}

        <a class="nav-item btn btn-outline-warning"
           href="">Inscription</a> {# href="{{ path('app_inscription') }}" #}

        <a class="nav-item btn btn-outline-info"
           href="">Connexion</a> {# href="{{ path('app_login') }}" #}

    {% endif %}


</div>