{% extends 'base.html.twig' %}

{% block body %}


	<!DOCTYPE html>
	<html lang="en">

		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="{{ asset('CSS/Carrousel.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/Produitsinfra.css') }}">
			<title>Tunnel Taille HO</title>
		</head>

		<body>
			<div
				class="titre">
				<a href={{ path('TypeProduit_Infrastructures') }}>Retour vers les types d'Infrastructures</a>
				{% for Produits in TunnelHO1 %}
					<h1>{{Produits.NomProduit}}</h1>
				</div>
				<div class="TunnelsTailleHO1">
								<img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Tunnels/HO/') ~ Produits.vue1 }} alt="TunnelsTailleHO1Vue1" id="TunnelsTailleHO1Vue1">

                    <div class="droiteHO1Tunnels">
						<p>
							Prix unitaire :
							{{Produits.prix}}
							€
						</p>
						{% if app.user %}

							<a href={{ path('app_ajoutpanier', {id: Produits.id} ) }}>Ajouter au panier</a>

						{% else %}

							<a>Connectez-vous pour ajouter cet article a votre panier</a> {# lien a mettre quand je m'occuperait de la page login => href={{ path('app_login') }} #}

						{% endif %}
					</div>
				</div>
				<div class="descriptionHO1Tunnels">
					<p>
						<span class="titre_description">Description du Produit :</span>
						<br>
						{{Produits.detail}}
					</p>
				</div>
                
			{% endfor %}
		</body>
	</html>
{% endblock %}
