{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2 class="mb-4">📝 Nouveau message</h2>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.objet) }}
            {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.objet) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 6}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.pieceJointe) }}
            {{ form_widget(form.pieceJointe, {'attr': {'class': 'form-control', 'rows': 6}}) }}
            {{ form_errors(form.pieceJointe) }}
        </div>

        <button class="btn btn-success">Envoyer</button>
        <a href="{{ path('CompteUtilisateur_BoiteReception') }}" class="btn btn-outline-secondary">Annuler</a>
    {{ form_end(form) }}
</div>
{% endblock %}
