{% extends 'base.html.twig' %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('CSS/TypeProduits.css') }}">
    <title>Les Infrastructures Ferroviaires</title>
</head>
{% for categorie in NomCategorie %}
<body>
    <h1>Les {{categorie.nom}} </h1>
    {% endfor %}
            {% for ProduitG in PontsG %}
            <div class="ImagesLigne1">
                <div class="PontsG">
                    <a href={{ path('produits_PontsG') }}> <img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Ponts/') ~ ProduitG.LibelesTailles }} alt="PontsG" id="PontsG"></a>
                    <p>Ponts taille G</p>
                </div>
                {% endfor %}
                 {% for ProduitZ in PontsZ %}
                <div class="PontsN">
                    <a href={{ path('produits_PontsZ') }}> <img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Ponts/') ~ ProduitZ.LibelesTailles }} alt="PontsZ" id="PontsZ"></a>
                    <p>Ponts taille Z</p>
                </div>
                {% endfor %}
                {% for ProduitHO in PontsHO %}
                <div class="PontsHO">
                    <a href={{ path('produits_PontsHO') }}> <img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Ponts/') ~ ProduitHO.LibelesTailles }} alt="PontsHO" id="PontsHO"></a>
                    <p>Ponts taille HO</p>
                </div>
                {% endfor %}
            </div>
                {% for ProduitHO1 in TunnelHO1 %}
            <div class="ImagesLigne2">
                <div class="TunnelHO1">
                    <a href={{ path('produits_TunnelHO1') }}> <img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Tunnels/HO/') ~ ProduitHO1.LibelesTailles }} alt="TunnelHO1" id="TunnelHO1"></a>
                    <p>Tunnel en Taille HO</p>
                </div>
                {% endfor %}
                {% for ProduitHO2 in TunnelHO2 %}
                <div class="TunnelHO2">
                    <a href={{ path('produits_TunnelHO2') }}> <img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Tunnels/HO/') ~ ProduitHO2.LibelesTailles}} alt="TunnelHO2" id="TunnelHO2"></a>
                    <p>Pont et Tunnel en Taille HO</p>
                </div>
                {% endfor %}
                {% for ProduitN in TunnelN %}
                <div class="TunnelN">
                    <a href={{ path('produits_TunnelN') }}> <img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Tunnels/N/') ~ ProduitN.LibelesTailles}} alt="TunnelN" id="TunnelN"></a>
                    <p>Tunnel taille N</p>
                </div>
            </div>
                {% endfor %}
                {% for ProduitHO in SignaHO %}
                <div class="ImagesLigne2">
                    <div class="SignaHO">
                        <a href={{ path('produits_SignaHO') }}> <img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Signalisation/') ~ ProduitHO.LibelesTailles }} alt="SignaHO" id="SignaHO"></a>
                        <p>Signalisation en Taille HO</p>
                    </div>
                    {% endfor %}
                    {% for ProduitN in SignaN %}
                    <div class="SignaN">
                        <a href={{ path('produits_SignaN') }}> <img src={{ asset('Images/Produits/Infrastructure_ferroviaires/Signalisation/') ~ ProduitN.LibelesTailles }} alt="SignaN" id="SignaN"></a>
                        <p>Signalisation Taille N</p>
                    </div>
                {% endfor %}
                </div>
</body>

</html>
{% endblock %}


       