{% extends 'base.html.twig' %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('CSS/TypeProduits.css') }}">
    <title>Les Locomotives</title>
</head>
{% for categorie in NomCategorie %}
<body>
    <h1>Les {{categorie.nom}} </h1>
    {% endfor %}
    {% for ProduitG in LocoDieselG %}
            <div class="ImagesLigne1">
                <div class="LocoDieselG">
                    <a href={{ path('produits_dieselG') }}> <img src={{ asset('Images/Produits/Locomotives/Diesel/TailleG/') ~ ProduitG.LibelesTailles }} alt="Locomotivedieselg" id="LocoDieselG"></a>
                    <p>Locomotive diesel taille G</p>
                </div>
                {% endfor %}
                {% for ProduitN in LocoDieselN %}
                <div class="LocoDieselN">
                    <a href={{ path('produits_dieselN') }}> <img src={{ asset('Images/Produits/Locomotives/Diesel/TailleN/') ~ ProduitN.LibelesTailles }} alt="Locomotivedieseln" id="LocoDieselN"></a>
                    <p>Locomotive diesel taille N</p>
                </div>
                {% endfor %}
                {% for ProduitZ in LocoDieselZ %}
                <div class="LocoDieselZ">
                    <a href={{ path('produits_dieselZ') }}> <img src={{ asset('Images/Produits/Locomotives/Diesel/TailleZ/') ~ ProduitZ.LibelesTailles }} alt="Locomotivedieselz" id="LocoDieselZ"></a>
                    <p>Locomotive diesel taille Z</p>
                </div>
                {% endfor %}
            </div>
         {% for ProduitHO in LocoDieselHO %}
            <div class="ImagesLigne2">
                <div class="LocoDieselHO">
                    <a href={{ path('produits_dieselHO') }}> <img src={{ asset('Images/Produits/Locomotives/Diesel/TailleHO/') ~ ProduitHO.LibelesTailles }} alt="Locomotivedieselho" id="LocoDieselHO"></a>
                    <p>Locomotive diesel taille HO</p>
                </div> 
                 {% endfor %}
                {% for ProduitG in LocoElecG %}
                <div class="LocoElecG">
                    <a href={{ path('produits_ElecG') }}> <img src={{ asset('Images/Produits/Locomotives/Elec/TailleG/') ~ ProduitG.LibelesTailles }} alt="LocomotiveElecg" id="LocomotivesElec"></a>
                    <p>Locomotive Elec taille G</p>
                </div>
                {% endfor %}
                {% for ProduitN in LocoElecN %}
                <div class="LocoElecN">
                    <a href={{ path('produits_ElecN') }}> <img src={{ asset('Images/Produits/Locomotives/Elec/TailleN/') ~ ProduitN.LibelesTailles }} alt="LocomotiveElecn" id="LocomotivesElec"></a>
                    <p>Locomotive Elec taille N</p>
                </div>
                {% endfor %}
            </div>
            {% for ProduitZ in LocoElecZ %}
            <div class="ImagesLigne3">
                <div class="LocoElecZ">
                    <a href={{ path('produits_ElecZ') }}> <img src={{ asset('Images/Produits/Locomotives/Elec/TailleZ/') ~ ProduitZ.LibelesTailles }} alt="LocomotiveElecz" id="LocomotivesElec"></a>
                    <p>Locomotive Elec taille Z</p>
                </div>
                {% endfor %}
                {% for ProduitHO in LocoElecHO %}
                <div class="LocoElecHO">
                    <a href={{ path('produits_ElecHO') }}> <img src={{ asset('Images/Produits/Locomotives/Elec/TailleHO/') ~ ProduitHO.LibelesTailles }} alt="LocomotiveElecho" id="LocomotivesElec"></a>
                    <p>Locomotive Elec taille HO</p>
                </div>
                {% endfor %}
                {% for ProduitG in LocoVapeurG %}
                <div class="LocoVapeurG">
                    <a href={{ path('produits_VapeurG') }}> <img src={{ asset('Images/Produits/Locomotives/Vapeur/TailleG/') ~ ProduitG.LibelesTailles }} alt="LocomotiveVapeurg" id="LocomotivesVapeur"></a>
                    <p>Locomotive vapeur taille G</p>
                </div>
                {% endfor %}
            </div>
            {% for ProduitN in LocoVapeurN %}
            <div class="ImagesLigne4">
                <div class="LocoVapeurN">
                    <a href={{ path('produits_VapeurN') }}> <img src={{ asset('Images/Produits/Locomotives/Vapeur/TailleN/') ~ ProduitN.LibelesTailles }} alt="LocomotiveVapeurn" id="LocomotivesVapeur"></a>
                    <p>Locomotive vapeur taille N</p>
                </div>
                {% endfor %}
                {% for ProduitZ in LocoVapeurZ %}
                <div class="LocoVapeurZ">
                    <a href={{ path('produits_VapeurZ') }}> <img src={{ asset('Images/Produits/Locomotives/Vapeur/TailleZ/') ~ ProduitZ.LibelesTailles }} alt="LocomotiveVapeurz" id="LocomotivesVapeur"></a>
                    <p>Locomotive vapeur taille Z</p>
                </div>
                {% endfor %}
                {% for ProduitHO in LocoVapeurHO %}
                <div class="LocoVapeurHO">
                    <a href={{ path('produits_VapeurHO') }}> <img src={{ asset('Images/Produits/Locomotives/Vapeur/TailleHO/') ~ ProduitHO.LibelesTailles }} alt="LocomotiveVapeurho" id="LocomotivesVapeur"></a>
                    <p>Locomotive vapeur taille HO</p>
                </div>
                {% endfor %}
            </div>
</body>

</html>
{% endblock %}


       