{% extends 'base.html.twig' %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('CSS/TypeProduits.css') }}">
    <title>Les Automotrices</title>
</head>
{% for categorie in NomCategorie %}
<body>
    <h1>Les {{categorie.nom}} </h1>
    {% endfor %}
            {% for ProduitZ in VoiesZ %}
            <div class="ImagesLigne1">
                <div class="VoiesZ">
                    <a href={{ path('produits_voiesZ') }}> <img src={{ asset('Images/Produits/Voies/') ~ ProduitZ.LibelesTailles }} alt="VoiesZ" id="VoiesZ"></a>
                    <p>Voies taille Z</p>
                </div>
                {% endfor %}
                {% for ProduitN in VoiesN %}
                <div class="VoiesN">
                    <a href={{ path('produits_voiesN') }}> <img src={{ asset('Images/Produits/Voies/') ~ ProduitN.LibelesTailles }} alt="VoiesN" id="VoiesN"></a>
                    <p>Voies taille N</p>
                </div>
                 {% endfor %}
                 {% for ProduitHO in VoiesHO %}
                <div class="VoiesHO">
                    <a href={{ path('produits_voiesHO') }}> <img src={{ asset('Images/Produits/Voies/') ~ ProduitHO.LibelesTailles }} alt="VoiesHO" id="VoiesHO"></a>
                    <p>Voies taille HO</p>
                </div>
                {% endfor %}
            </div>
             {% for ProduitG in VoiesG %}
            <div class="ImagesLigne2">
                <div class="VoiesG">
                    <a href={{ path('produits_voiesG') }}> <img src={{ asset('Images/Produits/Voies/') ~ ProduitG.LibelesTailles }} alt="VoiesG" id="VoiesG"></a>
                    <p>Voies taille G</p>
                </div>
                {% endfor %}
            </div>
</body>

</html>
{% endblock %}


       