{% extends 'base.html.twig' %}

{% block body %}


	<!DOCTYPE html>
	<html lang="en">

		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="{{ asset('CSS/Carrousel.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/ProduitsAutomotrices.css') }}">
			<title>Autorails Taille N</title>
		</head>

		<body>
			<div
				class="titre">
				<a href={{ path('TypeProduit_Automotrices') }}>Retour vers les types d'automotrices'</a>
				{% for Produits in AutorailsN %}
					<h1>{{Produits.NomProduit}}</h1>
				</div>
				<div class="AutorailsTailleN">
								<img src={{ asset('images/Produits/Autorails/TailleN/') ~ Produits.vue1 }} alt="AutorailsTailleNVue1" id="AutorailsTailleNVue1">
					<div class="droiteNAutorails">
						<p>
							Prix unitaire :
							{{Produits.prix}}
							€
						</p>
						{% if app.user %}
							<a href={{ path('CompteUtilisateur_AjoutPanier', {id: Produits.id} ) }}>Ajouter au panier</a>
						{% else %}
							<a href={{ path('app_login') }}>Connectez-vous pour ajouter cet article a votre panier</a>
						{% endif %}
					</div>
				</div>
				<div class="descriptionNAutorails">
					<p>
						<span class="titre_description">Description du Produit :</span>
						<br>
						{{Produits.detail}}
					</p>
				</div>
			{% endfor %}
		</body>
		<script src="./js/Carrousel.js"></script>
	</html>
{% endblock %}
