{% extends 'base.html.twig' %}

{% block body %}


	<!DOCTYPE html>
	<html lang="en">

		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="{{ asset('CSS/Carrousel.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/ProduitsAutomotrices.css') }}">
			<title>Autorails Taille G</title>
		</head>

		<body>
			<div
				class="titre">
				<a href={{ path('TypeProduit_Automotrices') }}>Retour vers les types de locomotives</a>
				{% for Produits in AutorailsG %}
					<h1>{{Produits.NomProduit}}</h1>
				</div>
				<div class="AutorailsTailleG">
								<img src={{ asset('images/Produits/Autorails/TailleG/') ~ Produits.vue1 }} alt="AutorailsTailleGVue1" id="AutorailsTailleGVue1">
					<div class="droiteGAutorails">
						<p>
							Prix unitaire :
							{{Produits.prix}}
							€
						</p>
						{% if app.user %}

							<a href={{ path('app_ajoutpanier', {id: Produits.id} ) }}>Ajouter au panier</a>

						{% else %}

							<a>Connectez-vous pour ajouter cet article a votre panier</a> {# lien a mettre quand je m'occuperait de la page login => href={{ path('app_login') }} #}

						{% endif %}
					</div>
				</div>
				<div class="descriptionGAutorails">
					<p>
						<span class="titre_description">Description du Produit :</span>
						<br>
						{{Produits.detail}}
					</p>
				</div>
			{% endfor %}
		</body>
		<script src="./js/Carrousel.js"></script>
	</html>
{% endblock %}
