{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('CSS/Utilisateurs.css') }}">
    <title>Inscription</title>

    <div class="FormulaireInscription">
        <h1>Formulaire d'inscription</h1>

        {{ form_start(f, { attr: { id: 'inscription_utilisateur_form' } }) }}

            {{ form_row(f.civilite,       {'row_attr': {'class': 'form-group'}}) }}
            {{ form_row(f.nom,            {'row_attr': {'class': 'form-group'}}) }}
            {{ form_row(f.prenom,         {'row_attr': {'class': 'form-group'}}) }}
            {{ form_row(f.date_naissance, {'row_attr': {'class': 'form-group'}}) }}
            {{ form_row(f.adresse,        {'row_attr': {'class': 'form-group'}}) }}
            {{ form_row(f.cp,             {'row_attr': {'class': 'form-group'}}) }}
            
            {{ form_row(f.ville,          {'row_attr': {'class': 'form-group'}}) }}
            
            {# Champ téléphone avec validation côté front #}

            {{ form_row(f.telephone, {
                'row_attr': {'class': 'form-group'},
                'attr': {
                    'maxlength': 10,
                    'pattern': '\\d{10}',
                    'inputmode': 'numeric',
                    'title': 'Entrez exactement 10 chiffres'
                }
            }) }}
            {{ form_row(f.email,          {'row_attr': {'class': 'form-group'}}) }}
            {{ form_row(f.login,          {'row_attr': {'class': 'form-group'}}) }}
            {{ form_row(f.password,       {'row_attr': {'class': 'form-group'}}) }}

            <p class="password-hint">
                Votre mot de passe doit contenir au moins une majuscule, une minuscule et un chiffre.<br>
                Il doit comporter au moins 12 caractères et ne pas contenir de caractères spéciaux.
            </p>

            {{ form_row(f.save) }}

        {{ form_end(f) }}
    </div>
{% endblock %}
