{% extends 'base.html.twig' %}

{% block body %}


	<!DOCTYPE html>
	<html lang="en">

		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="{{ asset('CSS/Carrousel.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/ProduitWF.css') }}">
			<title>Wagon de Fret Bache Taille Z</title>
		</head>

		<body>
				<div
					class="titre">
					<a href={{ path('TypeProduit_WagonFret') }}>Retour vers les types de Wagons de Fret</a>
					{% for Produits in WFBacheZ %}
						<h1>{{Produits.NomProduit}}</h1>
					</div>
					<div class="WFBacheTailleZ">
								<img src={{ asset('images/Produits/WagonFret/Bache/TailleZ/') ~ Produits.vue1 }} alt="WagonFretBacheTailleHOvue1" id="WagonFretBacheTailleHOvue1">
						<div class="droiteZBache">
							<p>
								Prix unitaire :
								{{Produits.prix}}
								€
							</p>
							{% if app.user %}
							<a href={{ path('CompteUtilisateur_AjoutPanier', {id: Produits.id} ) }}>Ajouter au panier</a>
						{% else %}
							<a href={{ path('app_login') }}>Connectez-vous pour ajouter cet article a votre panier</a>
						{% endif %}
						</div>
					</div>
					<div class="descriptionZBache">
						<p>
							<span class="titre_description">Description du Produit :</span>
							<br>
							{{Produits.description}}
						</p>
					</div>
				{% endfor %}
		</body>
		<script src="./js/Carrousel.js"></script>
	</html>
{% endblock %}
