{% extends 'base.html.twig' %}

{% block title %}Ajout utilisateur{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('CSS/Admin.css') }}">
<h1 class="titreAjoutUtilisateurs">Ajouter un nouvel Utilisateur</h1>

<div class="formulaireAjoutUtilisateurs">
    {{ form_start(FormAjout, { 'attr': {'class': 'form-ajout-utilisateur'} }) }}
        {{ form_widget(FormAjout) }}
        <div class="ajouter">
            <button type="submit" class="btn_ajout">{{ button_label|default('Ajouter') }}</button>
        </div>
    {{ form_end(FormAjout) }}
</div>

<div class="actionsAjoutUtilisateurs">
    <div class="RetourUtilisateur">
        <a href="{{ path('Administrateur_ListeUtilisateurs') }}" class="lienretourListeUtilisateur">
            Revenir à la liste des Utilisateurs
        </a>
    </div>
</div>
{% endblock %}
