{% extends 'base.html.twig' %}

{% block title %}Materiel Roulants{% endblock %}

{% block body %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('CSS/MaterielRoulants.css') }}">
    </head>
    <body>
        {# Section principale #}
        <section class="section_principale">
            <h1>Le Materiel Roulants</h1>

            {# On boucle sur toutes les catégories récupérées depuis le controller #}
            {% for categorie in categories %}
                <section class="imageHaut">
                    {% if categorie.image2 %}
                    <div class="locomotives">
                        <a href="{{ path('categorie_produits', {'id': categorie.id}) }}">
                            <img src="{{ asset('Images/MaterielRoulant/' ~ categorie.image1) }}" alt="{{ categorie.nom }}">
                        </a>
                        <p>{{ categorie.nom }}</p>
                    </div>
                    {% endif %}
 
                    {% if categorie.image4 %}
                    <div class="wagonfret">
                        <a href="{{ path('categorie_produits', {'id': categorie.id}) }}">
                            <img src="{{ asset('Images/MaterielRoulant/' ~ categorie.image1) }}" alt="{{ categorie.nom }}">
                        </a>
                        <p>{{ categorie.nom }}</p>
                    </div>
                    {% endif %}
                </section>

                <section class="imageBas">
                    {% if categorie.image1 %}
                    <div class="automotrices">
                        <a href="{{ path('categorie_produits', {'id': categorie.id}) }}">
                            <img src="{{ asset('Images/MaterielRoulant/' ~ categorie.image1) }}" alt="{{ categorie.nom }}">
                        </a>
                        <p>{{ categorie.nom }}</p>
                    </div>
                    {% endif %}

                    {% if categorie.image3 %}
                    <div class="VoituresVoyageurs">
                        <a href="{{ path('categorie_produits', {'id': categorie.id}) }}">
                            <img src="{{ asset('Images/MaterielRoulant/' ~ categorie.image1) }}" alt="{{ categorie.nom }}">
                        </a>
                        <p>{{ categorie.nom }}</p>
                    </div>
                    {% endif %}
                </section>
            {% endfor %}

        </section>
    </body>
</html>
{% endblock %}
