{% extends 'base.html.twig' %}

{% block body %}


	<!DOCTYPE html>
	<html lang="en">

		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="{{ asset('CSS/Carrousel.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/ProduitsVoies.css') }}">
			<title>Voies Taille N</title>
		</head>

		<body>
			<div
				class="titre">
				<a href={{ path('TypeProduit_Voies') }}>Retour vers les types de voies</a>
				{% for Produits in VoiesN %}
					<h1>{{Produits.NomProduit}}</h1>
				</div>
				<div class="VoiesTailleN">
								<img src={{ asset('Images/Produits/Voies/') ~ Produits.vue1 }} alt="VoiesTailleNVue1" id="VoiesTailleNVue1">

                    <div class="droiteNVoies">
						<p>
							Prix unitaire :
							{{Produits.prix}}
							€
						</p>
						{% if app.user %}
							<a href={{ path('CompteUtilisateur_AjoutPanier', {id: Produits.id} ) }}>Ajouter au panier</a>
						{% else %}
							<a href={{ path('app_login') }}>Connectez-vous pour ajouter cet article a votre panier</a>
						{% endif %}
					</div>
				</div>
				<div class="descriptionNVoies">
					<p>
						<span class="titre_description">Description du Produit :</span>
						<br>
						{{Produits.description}}
					</p>
				</div>
                
			{% endfor %}
		</body>
	</html>
{% endblock %}
