{% extends 'base.html.twig' %}

{% block title %}Gestion des Produits{% endblock %}

{% block body %}
 <link rel="stylesheet" href={{ asset('CSS/Admin.css') }}>

 {% include 'partials/_navCompte.html.twig' %}
<h1>Liste des Produits</h1>

<table class="liste_produits">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Details</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for produit in produits %}
        <tr>
            <td>{{ produit.id }}</td>
            <td>{{ produit.nomProduit }}</td>
            <td>{{ produit.prix }} €</td>
            <td>{{ produit.stock }}</td>
            <td>
                <a href="{{ path('Administrateur_Detailproduit', {id: produit.id}) }}" class="">Voir</a>
            </td>
            <td>
                <a href="{{ path('Administrateur_ModifierProduit', {id: produit.id}) }}" class="">Modifier</a>
            </td>
            <td>
                <form method="post" action="{{ path('Administrateur_SupprimerProduit', {id: produit.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce produit ? Cette action est définitive');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}"> {# Protections CSRF #}
                    <button class="">Supprimer</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="NouveauProduit">
    <a href="{{ path('Administrateur_AjoutProduit') }}" class="">Ajouter un produit</a>
</div>
{% endblock %}

