{% extends 'base.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('CSS/Admin.css') }}">

<h1 class="titremodifierproduit">Modifier le produit</h1>

<div class="formmodifierproduit">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn-mettre-a-jour">Mettre à jour</button>
    {{ form_end(form) }}
</div>

<div class="actionmodifierproduit">
    <div class="retourproduit">
        <a href="{{ path('Administrateur_ListeProduits') }}" class="lienretourlisteproduit">
            Retour à la liste
        </a>
    </div>
</div>
{% endblock %}
